.Rproj.user
.Rhistory
.RData
.Ruserdata
teorico_comp1_2010.pdf
Soluciones_en_Octave/Práctico05/SistemasDeNumeracion_2019.pdf
Soluciones_en_Octave/Práctico05/TablaAscii_2019.pdf

# Soluciones de Prácticos
Soluciones_en_Octave/Práctico02/Soluciones Práctico 2.pdf
Soluciones_en_Octave/Práctico03/Soluciones Práctico 3.pdf
Soluciones_en_Octave/Práctico04/Soluciones Práctico 4.pdf
Soluciones_en_Octave/Práctico05/Soluciones Práctico 5.pdf
Soluciones_en_Octave/Práctico06/Soluciones Práctico 6.pdf
Soluciones_en_Octave/Práctico07/Soluciones Práctico 7.pdf
Soluciones_en_Octave/Práctico08/Soluciones Práctico 8.pdf
Soluciones_en_Octave/Práctico09/Soluciones Práctico 9.pdf
Soluciones_en_Octave/Práctico10/Soluciones Práctico 10.pdf
Soluciones_en_Octave/Soluciones de Prácticos.pdf